.friends-display {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.friends-display__link > span {
  margin-right: 10px;
  margin-left: 5px;
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
}
.friends-display__link > i {
  color: var(--soft-gray);
}
