.friends-display {
  display: flex;
  justify-content: center;
  position: relative;
  top: 87.6px;
}
.friends-display > span:nth-of-type(2) {
  margin: 0 5px;
  font-size: 14px;
  font-weight: 550;
}
.friends-display > span:not(:nth-child(2)) {
  color: rgba(0, 0, 0, 0.15);
  font-weight: 550;
}
