header.Index-header {
  margin: 70px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Index-header__title {
  margin-bottom: 30px;
  font-size: 25px;
}

.Index-header__text {
  width: 70%;
  margin: 2 70px;
  color: var(--soft-gray);
}
