ul[class="list"] > li {
  height: 50px;
}
.list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  border-bottom: var(--main-border);
  padding-top: 20px;
  padding-bottom: 30px;
}
.list__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__column > :where(i, span) {
  font-size: 20px;
  text-align: center;
}
.list__column > i {
  margin-right: 10px;
}
.list__column > .red-btn {
  margin-left: 10px;
  font-size: 11px;
  position: relative;
  top: 2px;
}
.list__column:last-of-type {
  color: rgba(0, 0, 0, 0.6);
}
