.screen-channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.screen-channel__column {
  color: var(--soft-gray);
  font-size: 14px;
}
