.splash-screen {
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: splash-screen 0.7s ease-in-out forwards;
}

@keyframes splash-screen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
