.navigation-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color);
  border-top: var(--main-border);
}
.navigation-bar__link {
  position: relative;
  display: block;
}
.navigation-bar__link i {
  color: var(--black);
}
.navigation-bar__link:last-child span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -5px;
}
.navigation-bar__link > span.red-btn {
  animation-name: rotate-red-btn;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: -10px;
  right: -10px;
}
@keyframes rotate-red-btn {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1080deg);
  }
}
