.navigation-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color);
  border-top: var(--main-border);
}
.navigation-bar__link {
  position: relative;
  display: block;
  animation-name: apper-nav-bar-link;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.navigation-bar__link:nth-of-type(2) {
  animation-delay: 0.25s;
}
.navigation-bar__link:nth-of-type(3) {
  animation-delay: 0.5s;
}
.navigation-bar__link:last-of-type {
  animation-delay: 0.75s;
}
.navigation-bar__link i {
  color: var(--black);
}
.navigation-bar__link:last-child span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -5px;
}
.navigation-bar__link > span.red-btn {
  animation-name: rotate-red-btn;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: -10px;
  right: -10px;
}

@keyframes rotate-red-btn {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(540deg);
  }
  100% {
    transform: none;
  }
}
@keyframes apper-nav-bar-link {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
