/*row-icons.css*/
.row-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: var(--main-border);
}
.row-icons__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  width: 95px;
  margin-bottom: 20px;
}
.row-icons__icon > i {
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
}
.row-icons__icon > span {
  text-align: center;
}
.dummy {
  opacity: 0;
}
