.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.screen-header__title > span {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}
.screen-header__icons > span {
  margin-left: 25px;
  position: relative;
}
.screen-header__icons > span:last-child > i:hover {
  animation-name: rotate-gear;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-gear {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1080deg);
  }
}
