.space-header {
  position: fixed;
  top: 21.8px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-header__column {
  width: 33.3%;
}
.space-header__column:first-child {
  padding-left: 20px;
}
.space-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-header__column:nth-child(2) > span {
  font-size: 24px;
  font-weight: 700;
}

.space-header__column:last-child {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.space-header__column:last-child > i {
  margin-left: 15px;
}
