.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-component__column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-component__column:nth-child(2) > :where(span, i) {
  margin-left: 5px;
  color: var(--soft-gray);
}
.user-component__main-text > span {
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
}
.user-component__sub-text > span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.1);
}
.user-component__img {
  width: 60px;
  height: 60px;
  border-radius: 35%;
  margin-right: 15px;
}
.img-big {
  width: 65px;
  height: 65px;
}
.img-small {
  width: 50px;
  height: 50px;
}
